<% screenshots = project_screenshots(project) %>

<section class="main header">
  <div class="inner">
    <a href="/" class="logo">Open Source Rails</a>

    <h1><%= project.title %></h1>
    <h2><%= project.tagline %></h2>

  </div>
</section>

<!-- START section.main -->
<section class="main innerpage" role="main">
  <div class="inner">

      <!-- START entry -->
      <article class="portfolio single clearfix">
        <div class="l">
          <p class='cover-section'>
            <img src="<%= project_cover_image(project) %>" alt="" />

            <%= partial "github_buttons", :locals => {:project => project} %>
          </p>

          <p>Another pause, and he broke out again like one demented. Another pause, and he broke out again like one demented.</p>
          <p class="small">Another pause, and he broke out again like one demented. <a href="#">Another pause, and</a> he broke out again like one demented.</p>


          <a href="portfolio.html" class="extrudedbtn"><span>See Demo</span></a>

          <a href="portfolio.html" class="extrudedbtn"><span>Project Page</span></a>

          <a href="portfolio.html" class="extrudedbtn"><span>View on Github</span></a>

          <!-- <a href="portfolio.html" class="extrudedbtn"><span>Launch</span></a> -->
        </div>
        <div class="r">
          <div class="gallery">

            <div class="scroll-thumbs">
              <ul class="thumbs clearfix">
                <% screenshots.each do |img| %>
                  <li><a href="#<%= img[:index] %>"><img src="<%= img[:src] %>" alt="" /></a></li>
                <% end %>
              </ul>
            </div>

            <div class="gallerycont">
              <div class="slides_container">
                <% screenshots.each do |img| %>
                  <a href="#"><img src="<%= img[:src] %>" alt="" width="<%= img[:width] %>" height="<%= img[:height] %>" /></a>
                <% end %>
              </div>
              <a href="#" class="sprev"></a>
              <a href="#" class="snext"></a>
            </div>

          </div>
        </div>
      </article>
      <!-- END entry -->

      <!-- START similar -->
      <aside class="portfolio similar">
        <div class="scriptfont absleft"><img src="/images/text-similar-projects.png" alt="" /></div>
        <nav class="cats tabs sep seplarge clearfix">
          <ul class="similar-tabs clearfix">
          </ul>
        </nav>
        <div class="slides_container">
          <div class="row-fluid clearfix">
            <%= partial "project_listing", :locals => {:project => project} %>
            <%= partial "project_listing", :locals => {:project => project} %>
            <%= partial "project_listing", :locals => {:project => project} %>
          </div>
          <div class="row-fluid clearfix">
            <%= partial "project_listing", :locals => {:project => project} %>
            <%= partial "project_listing", :locals => {:project => project} %>
            <%= partial "project_listing", :locals => {:project => project} %>
          </div>

        </div>
      </aside>
      <!-- END similar -->
  </div>
</section>
<!-- END section.main -->
