<% project = get_project(project_id) %>
<% screenshots = project_screenshots(project) %>

<section class="main header">
  <div class="inner">
    <a href="/" class="logo">Open Source Rails</a>

    <h1><%= project.title %></h1>
    <h2><%= project.tagline %></h2>

  </div>
</section>

<!-- START section.main -->
<section class="main innerpage" role="main">
  <div class="inner">

      <!-- START entry -->
      <article class="portfolio single clearfix">
        <div class="l">
          <p class='cover-section'>
            <img src="<%= project_cover_image(project) %>" alt="" />

            <%= partial "github_buttons", :locals => {:project => project} %>
          </p>

          <div class="project-description">
            <%= project_description(project) %>
          </div>
          <div class="project-links">
            <% if project.site_url %>
              <a href="<%= project.site_url %>" target="_blank"  class="extrudedbtn"><span>Project Home</span></a>
            <% end %>

            <% if project.github_project %>
              <a href="http://github.com/<%= project.github_project %>" target="_blank" class="extrudedbtn"><span>View on Github</span></a>
            <% end %>

            <% if project.demo_url %>
              <!-- TODO: make this a bootstrap popover with instructions -->
              <a href="<%= project.demo_url %>" class="extrudedbtn"><span>See Demo</span></a>
            <% end %>


            <!-- <a href="#" class="extrudedbtn"><span>Launch</span></a> -->
          </div>
        </div>
        <div class="r">
          <div class="gallery">

            <div class="scroll-thumbs">
              <ul class="thumbs clearfix">
                <% screenshots.each do |img| %>
                  <li><a href="#<%= img[:index] %>"><img src="<%= img[:src] %>" alt="" /></a></li>
                <% end %>
              </ul>
            </div>

            <div class="gallerycont">
              <div class="slides_container">
                <% screenshots.each do |img| %>
                  <a class="fancybox" rel="group" href="<%= img[:src] %>" href="#">
                    <span class="screen-img" style="background-image: url('<%= img[:src] %>')"></span>
                    <!-- <img src="<%= img[:src] %>" alt="" width="<%= img[:width] %>" height="<%= img[:height] %>" /> -->
                  </a>
                <% end %>
              </div>
              <a href="#" class="sprev"></a>
              <a href="#" class="snext"></a>
            </div>

          </div>
        </div>
      </article>
      <!-- END entry -->

      <% similar = similar_projects(project) %>
      <% if similar.present? %>
        <!-- START similar -->
        <aside class="portfolio similar">
          <div class="scriptfont absleft"><img src="/images/text-similar-projects.png" alt="" /></div>
          <nav class="cats tabs sep seplarge clearfix">
            <ul class="similar-tabs clearfix">
            </ul>
          </nav>
          <div class="slides_container">
            <%= partial "project_listings", :locals => {:projects => similar} %>
          </div>
        </aside>
        <!-- END similar -->
      <% end %>
  </div>
</section>
<!-- END section.main -->
