<section class="main header">
  <div class="inner">
    <a href="/" class="logo">Open Source Rails</a>

    <h1>Fat Free CRM</h1>
    <h2>A simple, unadulterated free CRM tool</h2>

  </div>
</section>

<!-- START section.main -->
<section class="main innerpage" role="main">
  <div class="inner">

      <!-- START entry -->
      <article class="portfolio single clearfix">
        <div class="l">
          <p>Another pause, and he broke out again like one demented. Another pause, and he broke out again like one demented.</p>
          <p class="small">Another pause, and he broke out again like one demented. <a href="#">Another pause, and</a> he broke out again like one demented.</p>

          <a href="portfolio.html" class="extrudedbtn"><span>See Demo</span></a>

          <a href="portfolio.html" class="extrudedbtn"><span>Project Page</span></a>

          <a href="portfolio.html" class="extrudedbtn"><span>View on Github</span></a>

          <!-- <a href="portfolio.html" class="extrudedbtn"><span>Launch</span></a> -->
        </div>
        <div class="r">
          <div class="gallery">

            <ul class="thumbs clearfix">
              <li><a href="#1"><img src="/images/simplething/samples/sample.jpg" alt="" /></a></li>
              <li><a href="#2"><img src="/images/simplething/samples/sample.jpg" alt="" /></a></a></li>
              <li><a href="#3"><img src="/images/simplething/samples/sample.jpg" alt="" /></a></a></li>
              <li><a href="#4"><img src="/images/simplething/samples/sample.jpg" alt="" /></a></a></li>
            </ul>

            <div class="gallerycont">
              <div class="slides_container">
                <a href="#"><img src="/images/simplething/samples/sample.jpg" alt="" width="576" height="445" /></a>
                <a href="#"><img src="/images/simplething/samples/sample.jpg" alt="" width="576" height="1000" /></a>
                <a href="#"><img src="/images/simplething/samples/sample.jpg" alt="" width="576" height="400" /></a>
                <a href="#"><img src="/images/simplething/samples/sample.jpg" alt="" width="576" height="445" /></a>
              </div>
              <a href="#" class="sprev"></a>
              <a href="#" class="snext"></a>
            </div>

          </div>
        </div>
      </article>
      <!-- END entry -->

      <!-- START similar -->
      <aside class="portfolio similar">
        <div class="scriptfont absleft"><img src="/images/text-similar-projects.png" alt="" /></div>
        <nav class="cats tabs sep seplarge clearfix">
          <ul class="similar-tabs clearfix">
          </ul>
        </nav>
        <div class="slides_container">
          <div class="row-fluid clearfix">
            <%= partial "project" %>
            <%= partial "project" %>
            <%= partial "project" %>
          </div>
          <div class="row-fluid clearfix">
            <%= partial "project" %>
            <%= partial "project" %>
            <%= partial "project" %>
          </div>

        </div>
      </aside>
      <!-- END similar -->
  </div>
</section>
<!-- END section.main -->
